@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
html, body {
  background-color: #a9d7d1;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

header {
  font: 2em;
  font-weight: bold;
  margin: 20px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.wrapper {
  background-color: rgba(250, 250, 250);
  width: 75%;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
}

.container > div {
  padding: 1em;
  text-align: right;
  vertical-align: middle;
}

.data {
  text-align: left;
  vertical-align: top;
  height: 20px;
  width: 280px;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

#dropdown {
  height: 35px;
}

#submit {
  background-color: #59ace0;
  border-radius: 4px 4px 4px 4px;
  font-size: 1em;
  color: white;
  width: 100px;
  height: 40px;
}
